**Basic Working**

In [ ]:
print('Hello world')

Hello world

In [ ]:
print('Priya')

Priya

In [ ]:
print('I am a student')

I am a student

In [ ]:
print('Hello')
print('world')

Hello
world

In [ ]:
print('Hello',end='-')
print('world')

Hello-world

In [ ]:
print('Hello',end=',')
print('World')

Hello,World

In [ ]:
print(100)

100

In [ ]:
print(5.755)

5.755

In [ ]:
print(True)
print(False)

True
False

In [ ]:
print(1,2,3)

1 2 3

In [ ]:
print('world',1,5.7,True)

world 1 5.7 True

In [ ]:
print('world',1,5.7,True,sep=',')

world,1,5.7,True

In [ ]:
print(1,2,3,sep=',')

1,2,3

**Data Types**

In [ ]:
# Strings
print('Priya')
print('Hello world')

Priya
Hello world

In [ ]:
# Integer
print(1)
print(1e308) # 1 * 10^308

1
1e+308

In [ ]:
#Decimal/Float
print(6.7)
print(6.7e307)

6.7
6.7e+307

In [ ]:
# Boolean Function
print(True)
print(False)

True
False

In [ ]:
#complex
print(8+7j)

(8+7j)

**List**

In [ ]:
# List
# can be modified
# Ordered
# can be duplicated
print([1,2,3,4]) # square brackets

[1, 2, 3, 4]

In [ ]:
# Adding one value in the list
my_list = [5,'Priya','3.6',6.7e307]
my_list.append(10)
print(my_list)

[5, 'Priya', '3.6', 6.7e+307, 10]

In [ ]:
# Changing one element in the list
my_list[1] = 'Ramya'
print(my_list)

[5, 'Ramya', '3.6', 6.7e+307, 10]

**Tuple**

In [ ]:
# Tuple
# Can't be modified
# Ordered
# can be duplicated
print((1,1,2,3,4)) # parantheses

(1, 1, 2, 3, 4)

In [ ]:
# Trying to modify the tuple values
my_tuple = (1,2,3,4,5)
my_tuple[1] = 10

TypeError: 'tuple' object does not support item assignment

**Sets**

In [ ]:
# Sets
# can be modified
# Unordered
# Can't be duplicated- only unique values
print({0,1,2,3,4,5}) # curly brackets

{0, 1, 2, 3, 4, 5}

In [ ]:
# Adding one value in the set
my_set = {5,'Priya','3.6',6.7e307}
my_set.add(10)
print(my_set)
# We can see the output is not in order

{'3.6', 5, 'Priya', 10, 6.7e+307}

**Dictionary**

In [ ]:
# Dictionary
# can be modified
# Unordered
# Key value can be duplicated
# Pair of values are stored
# string, integer & tuple can be used as a key since they are Immutable
print({'Name':'Priya', 'Age':27,'Gender':'Female'}) # curly brackets

{'Name': 'Priya', 'Age': 27, 'Gender': 'Female'}

int

In [ ]:
my_dict = {'Name':'Priya', 'Age':27,'Gender':'Female'}
print(my_dict)

{'Name': 'Priya', 'Age': 27, 'Gender': 'Female'}

In [ ]:
# Adding new key pair
my_dict['job'] = "Engineer"
print(my_dict)

{'Name': 'Priya', 'Age': 27, 'Gender': 'Female', 'job': 'Engineer'}

In [ ]:
# Changing the values in the keys
my_dict['Name'] = 'Ramya'
print(my_dict)

{'Name': 'Ramya', 'Age': 27, 'Gender': 'Female', 'job': 'Engineer'}

In [ ]:
# changing the key name
my_dict['gender'] = my_dict['Gender']
print(my_dict)

{'Name': 'Ramya', 'Age': 27, 'Gender': 'Female', 'job': 'Engineer', 'gender': 'Female'}

**Variables**

In [ ]:
Name = 'Priya'
Age = 27
Gender = 'Female'
print(Name,Age,Gender)
type(Name)
type(Age)
type(5+5j)
type(True)

Priya 27 Female

bool

In [ ]:
a = 10
b = 15
print(a + b)

25

In [ ]:
# Dynamic typing - you don't declare the type
a = 5
b = 'Priya'
c = True
# Static typing - You declare the type which is used in c, java, c++ language.
# int a = 5
# In python there is no need of declaring the type.
type(a), type(b), type(c)

(int, str, bool)

In [ ]:
# Dynamic Binding
a= 10
print(a)
a='Priya'
print(a)
# In static Binding which is used in c, c++ and Java need to have different variables for different values.

10
Priya

In [ ]:
# all the variable can be written in a single line
a,b,c = 10,'Priya',True
print(a,b,c)

10 Priya True

In [ ]:
a=b=c=10
print(a,b,c)

10 10 10

**Comments**

In [ ]:
# Using of has # ignores the line and executes the rest in python

**Keywords &** **Identifier**

In [ ]:
# We write program in english which is converted to binary language by the compiler and interpreter to make machine understandable so there are about 32 keywords in python
# whatever name we create in a programming say variable, functions all are identifiers
#keywords are defined by python eg: if, else, while, for, def, class, True, false so we have almost 32 keywords which can't be used as variables name
# identifiers are naming elements (variable identifiers, function identifiers, class identifiers)

# We cannot start variable with a digit like 2name = 'priya'(gives error) but we can use name2='priya'
name5 = 'Priya'
print(name5)
# we can use only one special characters which is _ underscore remaining characters gives error
_ = 'Priya'
print(_)
name_name = 'Priya'
print(name_name)
# Identifiers cannot use keywords

Priya
Priya
Priya

**Type** **Conversion**

In [ ]:
str('10.6')

'10.6'

In [ ]:
int(10.6)

10

In [ ]:
float(10)

10.0

**User Input**

In [ ]:
input('Enter a number')

Enter a number1

'1'

In [ ]:
# Task1: get 2 number from user and add the 2 numbers
# Assign a variable for 2 numbers getting from the user
a = input("Enter 1st number:")
b = input("Enter 2nd number:")
c = a+b
print(c)
type(a),type(b)
# here the number is printed by combining 2 numbers instead of adding since the user input by default is string so we need to convert them to string to get the result

Enter 1st number:5
Enter 2nd number:5
55

(str, str)

In [ ]:
a = int(input("Enter the 1 st number:"))
b = int(input("Enter the 2nd number:"))
c = a+b
print(c)
type(a),type(b)

Enter the 1 st number:5
Enter the 2nd number:5
10

(int, int)

**Literals**

In [ ]:
# Storing a value inside a variable is called as literals