##### There are 6 operators in python
##### 1. Arithmetic Operators + - * /
##### 2.Relational Operators > < ==
##### 3.Logical Operators AND NOT OR
##### 4.Bitwise Operators AND OR XOR NOT right and left shift
##### 5.Assignment Operators =
##### 6.Membership Operators In , Not in

In [ ]:
# Arithmatic Operators
a = 8
b = 2
print (a + b)
print (a - b)
print (a * b)
print (a / b)
print (a // b) ## Interger devision
print(a % b) ## gives reminder
print(a**b) #a to the power b

10
6
16
4.0
4
0
64

In [ ]:
# Relational Operators
print (5 > 10)
print (5 < 10)
print (5 == 5)
print (5 >= 10)
print (5 <= 10)
print (5!= 5)

False
True
True
False
True
False

In [ ]:
# Logical Operators
print (1 and 0)
print (0 and 0)
print (1 and 1)
print (1 or 0)
print (not 0)

0
0
1
1
True

In [ ]:
# Bitwise Operators

# bitwise and
print (5 & 2)

# bitwise or
print (5 | 2)

# bitwise xor
print (5 ^ 2)

# bitwise not
print (~5)

# bitwise left shift
print (5 << 2)

# bitwise right shift
print (5 >> 2)

0
7
7
-6
20
1

In [ ]:
# Assignment operator (=)
a = 10
b = 5
c = 8
d = 6
a +=2
print (a)
b -=2
print (b)
c *=2
print (c)
d /=2
print (d)

12
3
16
3.0

In [ ]:
# Membership Operator in/not in this operators works on all datatypes like int, string, list, tuple and dictionary

print ('C' not in 'chennai')
print (1 in (1,2,3))
print (4 in [1,2,3])
print (3 in {1,2,3})

True
True
False
True

In [ ]:
# Program 1 : Get 3 digit input from user and add the numbers

Number = int(input("Enter 3 digit number:"))

a = Number % 10

Number = Number // 10

b = Number % 10

Number = Number // 10

c = Number % 10

print (a + b + c)

Enter 3 digit number:123
6

# **If Else and Nested If Else**
 ##### If only two conditions need to be executed then if else is sufficient. If more than two conditions need to be performed then elif is used. If else is again used under elif which is called nested if else.

In [ ]:
# Use if else code to show the entered email is correct or not
# email--> abc@gmail.com
# password --> 1234
email = input('Enter the email address:')
password = input('Enter the password')
if email=='abc@gmail.com' and password=='1234':
  print('Login successful')
elif email=='abc@gmail.com' and password!='1234':
  print('Password is incorrect')
  password=input('Enter the correct password:')
  if password=='1234': # nested if else
    print('Login successful')
  else:
    print('Login failed')
else:
  print('Not correct')

Enter the email address:abc@gmail.com
Enter the password1234
Login successful

In [ ]:
# Use if else to print smallest number. Get 3 numbers from user
a = int(input('Enter 1st num:'))
b = int(input('Enter 2nd num:'))
c = int(input('Enter 3rd num:'))
if a<b and a<c:
  print(a, 'is smallest')
elif b<a and b<c:
  print(b, 'is smallest')
elif a==b==c:
  print('All are equal')
else:
  print(c,'is smallest')

Enter 1st num:3
Enter 2nd num:3
Enter 3rd num:3
All are equal

In [ ]:
# Menu driven calculator
a = int(input('Enter 1st num:'))
b = int(input('Enter 2nd num:'))
Operation = input(("Enter the Operation:"))

if Operation == '+':
  print(a+b)
elif Operation == '-':
  print(a-b)
elif Operation == '*':
  print(a*b)
else:
  print(a/b)

Enter 1st num:34
Enter 2nd num:23
Enter the Operation:/
1.4782608695652173

**Modules**


we have 4 types in modules 1. math, 2. keywords, 3. random, 4. date time

In [ ]:
# Math
import math
math.factorial(5)
math.sqrt(100)

10.0

In [ ]:
# Keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Random
import random
print(random.randint(1,100))

90

In [ ]:
# Date time
import datetime
print(datetime.datetime.now())

2025-11-10 12:45:13.521462

**Loops in Python**

While Loop

In [ ]:
# Tables program
number = int(input('Enter the number'))
i = 1
while i<11:
  print(number,'*',i,'=',number * i)
  i+=1

Enter the number10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
# while loop with else
x = 1
while x<4:
  print(x)
  x+=1
else:
  print('Limit Crossed')

1
2
3
Limit Crossed

In [ ]:
# Guessing game
# generate a random integer beween 1 to 100
import random
jackpot= random.randint(1,100)

Guess= int(input('Guess the number'))
count = 1
while Guess!=jackpot:
  if Guess < jackpot:
    print('Wrong, guess higher')
  elif Guess > jackpot:
    print('Wrong, guess lower')

  Guess= int(input('Guess the number'))
  count+=1

else:
  print('Correct')

  print('attemps:',count)

Guess the number40
Wrong, guess higher
Guess the number50
Wrong, guess higher
Guess the number60
Wrong, guess higher
Guess the number70
Wrong, guess higher
Guess the number100
Wrong, guess lower
Guess the number80
Wrong, guess lower
Guess the number75
Wrong, guess lower
Guess the number73
Correct

**For Loop**

In [ ]:
for i in range(1,11,4):# 4 is the step size
  print(i)

1
5
9

In [ ]:
for i in 'Chennai':
  print(i)

C
h
e
n
n
a
i

In [ ]:
# for loop iteration in list
for i in [1,2,3]:
  print(i)

1
2
3

In [ ]:
# for loop iteration in tuple
for i in (1,2,3,4):
  print(i)

1
2
3
4

In [ ]:
# for loop in sets
for i in {'Name': 'Priya', 'Age': 27, 'Gender': 'Female'}:
  print(i)

Name
Age
Gender

In [ ]:
current = 10000

for i in range (10,0,-1):
  print(i,current)
  current = current - 0.1 * current

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489